// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components

@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";
@import "./components/comment.scss";
// Screens

@import "./screens/search.scss";
@import "./screens/home.scss";
@import "./screens/profile.scss";
@import "./screens/edit-profile.scss";

// Defaults
a {
  color: $black;
  text-decoration: none;

  &:hover{
    color: $point;
  }
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: $black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 40px auto;
  margin-top: 0px;
  box-sizing: border-box;
  padding: 0px 50px;
  flex-grow: 1;

  @media screen and (max-width:680px) {
    &{
      padding: 0px 18px;
    }
  }
}

.top__img{
  width: 100%;
  aspect-ratio: 2/0.5;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5) ), url("https://images.pexels.com/photos/725255/pexels-photo-725255.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-position: center;
  background-size: cover;
  padding: 30px;
  color: #fff;
}