.upload_wrap {
    padding-left: 320px;
    width: 100%;

    @media screen and (max-width:1024px) {
        padding-left: 0;
    }

    h1 {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }
}

.upload_form{
    max-width: 510px;
    width: calc(100% - 32px);
    margin: 0 auto;
    input{
        display: block;
        width: 100%;
        background-color: #ffffff;
        border: none;
        padding: 20px 16px;
        border-radius: 15px;
        margin-bottom: 20px;
        
    }

    .upload_button {
        background-color: #F46119;
        color: #fff;
    }
}

