.search__form {
    margin-bottom: 60px;
    display: flex;
    position: relative;
    align-items: center;
    box-shadow: none;
    input[type="text"] {
      all: unset;
      padding: 15px 20px;
      border-bottom: 1px solid #000;
      background-color: transparent;
      margin-bottom: 5px;
      font-size: 16px;
      color: $black;
      width: 90%;
      box-shadow: 10px
    }
    button {
      all: unset;
    }
    button {
      position: absolute;
      right: 15px;
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      cursor: pointer;
    }
  }