.comment__wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    position: relative;
}

.comment__img{
    width: 64px;
    height: 64px;
    border-radius: 50px;
}


.comment__text{
    background-color: #f6f6f6;
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    a {
        font-size: 14px;

        &:hover{
            color: #000;
        }
    }

    p {
        font-size: 16px;
        margin-top: 20px;
        font-weight: 300;
    }
}

.video__comments {
    #commentForm{
        display: flex;
        border: none;
        box-sizing: border-box;
        justify-content: space-between;
        box-shadow: none;
        padding: 0;
        margin-bottom: 70px;
        max-width: 100%;
        margin-top: 40px;
        input {
            border-radius: 0;
            border:none;
            border-bottom: 1px solid #bcbcbc;
            background-color: transparent;
            box-sizing: border-box;
            margin-bottom: 0;
            padding: 15px 20px;
        }

        button {
            border: none;
            background-color: $point;
            box-sizing: border-box;
            border-radius: 20px;
            display: block;
            padding: 10px 0px;
            width: 70px;
            color: #fff;
            cursor: pointer;
        }
    }
}

.comment__delete {
    width: 30px;
    height: 30px;
    background-color: rgb(235, 38, 50);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span{
        display: block;
        width: 15px;
        height: 3px;
        background-color: #fff;
        border-radius: 5px;
    }
}