// video mixin
.video-mixin {
  box-shadow: 0px 0px 20px 0px #dddddd;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0px 0px 20px 0px #bcbcbc;
  }
  .video-mixin__thumb {
    aspect-ratio: 1.77339901477/1;
    border-radius: 7px 7px 0px 0px;
    width: 100%;
    overflow: hidden;
  }
  .video-mixin__data {
    padding: 10px 10px;
    border-radius: 0px 0px 7px 7px;
    .video-mixin__title {
      font-size: 14px;
      display: block;
      color: $point;
    }
    .video-mixin__meta {
      margin-top: 5px;
      font-size: 12px;
      color: $gray;
    }
  }
}

.video__info {
  margin: 15px 0px 30px 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #bcbcbc;
  h4 {
    font-size: 20px;
    font-weight: 500;
  }
  p {
    color: #3da6ff;
    margin-top: 5px;
  }

  .video__owner {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
    .video__owner__img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      overflow: hidden;
    }

    > div {
      a {
        font-size: 14px;
      }
      small {
        display: block;
        font-size: 12px;
        margin-top: 5px;
      }
    }
  }
}

.sub_button{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
