extends base

block content
    include partials/top
    if errorMessage
        span=errorMessage
    form(method="post")
        h2 CHANGE PASSWORD
        label(for="oldPassword") PREV PASSWORD
        input(placeholder="Old Password",type="password", name="oldPassword" id="oldPassword")
        label(for="newPassword") NEW PASSWORD
        input(placeholder="New Password",type="password", name="newPassword" id="newPassword")
        input(placeholder="New Password Confirmation",type="password", name="newPasswordConfirmation")
        input(value="Change Password", type="submit")