extends base.pug

block content
    h4 Update Video
    form(method="POST")
        input(name="title" placeholder="videotitle" value=video.title required)
        input(name="description" placeholder="description", value=video.description, type="text", required, minlength=20)
        input(name="hashtags" placeholder="hashtag", value=video.hashTags.join(), type="text", required)
        input(value="Save" type="submit")