extends base


block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        h2 LOGIN
        label(for="email") EMAIL 
        input(placeholder="Email", id="email" name="email", type="text", required)
        label(for="password") PASSWORD 
        input(placeholder="Password", id="password" name="password", type="password", required)
        input(type="submit", value="Login")
        include partials/social-login
    div.auth-switch
        span Don't have an account? 
        a(href="/users/join") Create one now &rarr;